#### Python Operators

Python has following types of operators.

1)Arithmetic Operators<br>
2)Comparison (Relational) Operators<br/>
3)Assignment Operators<br/>
4)Logical Operators <br/>
5)Bitwise Operators <br/>
6)Membership Operators<br/>
7)Identity Operators

###### Arithmetic Operators

<table class="table table-bordered">
<tr>
<th style="text-align:center;width:30%">Operator</th>
<th style="text-align:center;width:40%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">+ Addition</td>
<td>Adds values on either side of the operator.</td>
<td class="ts">a + b = 30</td>
</tr>
<tr>
<td class="ts">- Subtraction</td>
<td>Subtracts right hand operand from left hand operand.</td>
<td class="ts">a â€“ b = -10</td>
</tr>
<tr>
<td class="ts">* Multiplication</td>
<td>Multiplies values on either side of the operator</td>
<td class="ts">a * b = 200</td>
</tr>
<tr>
<td class="ts">/ Division</td>
<td>Divides left hand operand by right hand operand</td>
<td class="ts">b / a = 2</td>
</tr>
<tr>
<td class="ts">% Modulus</td>
<td>Divides left hand operand by right hand operand and returns remainder</td>
<td class="ts">b % a = 0</td>
</tr>
<tr>
<td class="ts">** Exponent</td>
<td>Performs exponential (power) calculation on operators</td>
<td class="ts">a**b =10 to the power 20</td>
</tr>
<tr>
<td class="ts">//</td>
<td>Floor Division - The division of operands where the result is the quotient in which the digits after the decimal point are removed. But if one of the operands is negative, the result is floored, i.e., rounded away from zero (towards negative infinity) &minus;</td>
<td class="ts">9//2 = 4 and 9.0//2.0 = 4.0, -11//3 = -4, -11.0//3 = -4.0</td>
</tr>
</table>

In [1]:
a = 10 
b = 20
# + Addition opreator
a + b

30

In [2]:
# Substraction Operator
b-a

10

In [3]:
# Multiplication Operator
a*b

200

In [4]:
# / Division Operator 
b/a

2.0

In [7]:
# ** Exponent Operator
a=2
b=4
b**a

16

In [9]:
# % Modulus Operator 
a=2
b=5
b%a

1

In [14]:
# // Floor Division Operator 
a = 7 
b = 2
print(a//b)

a = 7.0 
b = 2.0
print(a//b)

3
3.0

###### Assignment Operators

<table class="table table-bordered">
<tr>
<th style="text-align:center;width:30%">Operator</th>
<th style="text-align:center;width:40%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">=</td>
<td>Assigns values from right side operands to left side operand</td>
<td style="vertical-align:middle;">c = a + b assigns value of a + b into c</td>
</tr>
<tr>
<td class="ts">+= Add AND</td>
<td>It adds right operand to the left operand and assign the result to left operand</td>
<td style="vertical-align:middle;">c += a is equivalent to c = c + a</td>
</tr>
<tr>
<td class="ts">-= Subtract AND</td>
<td>It subtracts right operand from the left operand and assign the result to left operand</td>
<td style="vertical-align:middle;">c -= a is equivalent to c = c - a</td>
</tr>
<tr>
<td class="ts">*= Multiply AND</td>
<td>It multiplies right operand with the left operand and assign the result to left operand</td>
<td style="vertical-align:middle;">c *= a is equivalent to c = c * a</td>
</tr>
<tr>
<td class="ts">/= Divide AND</td>
<td>It divides left operand with the right operand and assign the result to left operand</td>
<td style="vertical-align:middle;">c /= a is equivalent to c = c / ac /= a is equivalent to c = c / a</td>
</tr>
<tr>
<td class="ts">%= Modulus AND</td>
<td>It takes modulus using two operands and assign the result to left operand</td>
<td style="vertical-align:middle;">c %= a is equivalent to c = c % a</td>
</tr>
<tr>
<td class="ts">**= Exponent AND</td>
<td>Performs exponential (power) calculation on operators and assign value to the left operand</td>
<td style="vertical-align:middle;">c **= a is equivalent to c = c ** a</td>
</tr>
<tr>
<td class="ts">//= Floor Division</td>
<td>It performs floor division on operators and assign value to the left operand</td>
<td style="vertical-align:middle;">c //= a is equivalent to c = c // a</td>
</tr>

In [ ]:
<i>Assignment Operators Examples </i>

In [15]:
c = 1

In [20]:
# += Add AND
c+=10
c

31

In [21]:
# -= Subtract AND
a = 21
b = 10
a-=b
a

11

In [22]:
# *= Multiply AND
a = 21
b = 10
a*=b
a

210

In [24]:
# /= Divide AND
a = 21
b = 10
a/=b
a

2.1

In [26]:
# %= Modulus AND
a = 21
b = 10
a%=b
a

1

In [25]:
# **= Exponent AND
a = 2
b = 10
a**=b
a

1024

In [27]:
# //= Floor Division 	
a = 21
b = 10
a//=b
a

2

###### Bitwise Operators

<table class="table table-bordered">
<tr>
<th style="text-align:center;width:30%">Operator</th>
<th style="text-align:center;width:40%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">&amp; Binary AND</td>
<td>Operator copies a bit to the result if it exists in both operands</td>
<td style="vertical-align:middle;">(a &amp; b) (means 0000 1100)</td>
</tr>
<tr>
<td class="ts">| Binary OR</td>
<td>It copies a bit if it exists in either operand.</td>
<td style="vertical-align:middle;">(a | b) = 61 (means 0011 1101)</td>
</tr>
<tr>
<td class="ts">^ Binary XOR</td>
<td>It copies the bit if it is set in one operand but not both.</td>
<td style="vertical-align:middle;">(a ^ b) = 49 (means 0011 0001)</td>
</tr>
<tr>
<td class="ts">~ Binary Ones Complement</td>
<td style="vertical-align:middle;">It is unary and has the effect of 'flipping' bits.</td>
<td style="vertical-align:middle;">(~a ) = -61 (means 1100 0011 in 2's complement form due to a signed binary number.</td>
</tr>
<tr>
<td class="ts">&lt;&lt; Binary Left Shift</td>
<td>The left operands value is moved left by the number of bits specified by the right operand.</td>
<td style="vertical-align:middle;">a &lt;&lt; 2 = 240 (means 1111 0000)</td>
</tr>
<tr>
<td class="ts">&gt;&gt; Binary Right Shift</td>
<td>The left operands value is moved right by the number of bits specified by the right operand.</td>
<td style="vertical-align:middle;">a &gt;&gt; 2 = 15 (means 0000 1111)</td>
</tr>
</table>

In [ ]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c=0

In [33]:
# & Binary AND
c = a & b;        # 12 = 0000 1100
c

2

In [32]:
#  Binary OR
c = a | b;        # 61 = 0011 1101 
c

10

In [31]:
# ^  Binary XOR
c = a ^ b;        # 49 = 0011 0001
c

8

In [30]:
#  ~ Binary Ones Complement
c = ~a;           # -61 = 1100 0011
c

-3

In [29]:
# Binary Left Shift
c = a << 2;       # 240 = 1111 0000
c

8

In [28]:
# Binary Right Shift
c = a >> 2;       # 15 = 0000 1111
c

0

###### Membership Operators

<table class="table table-bordered">
<tr>
<th style="text-align:center;width:10%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">in</td>
<td>Evaluates to true if it finds a variable in the specified sequence and false otherwise.</td>
<td style="vertical-align:middle;">x in y, here in results in a 1 if x is a member of sequence y.</td>
</tr>
<tr>
<td class="ts">not in</td>
<td>Evaluates to true if it does not finds a variable in the specified sequence and false otherwise.</td>
<td>x not in y, here not in results in a 1 if x is not a member of sequence y.</td>
</tr>
</table>

In [34]:
# in operator 
x = 2 
list1 = [1, 2, 3, 4, 5 ];
if x in list1:
    print("X in list1")
else:
    print("X not in list1")

X in list1

In [35]:
# not in  operator
 
x = 10 
list1 = [1, 2, 3, 4, 5 ];
if x  not in list1:
    print("X not in list1")
else:
    print("X in list1")

X not in list1

###### Identity Operators

<table class="table table-bordered">
<tr>
<th style="text-align:center;width:10%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">is</td>
<td>Evaluates to true if the variables on either side of the operator point to the same object and false otherwise.</td>
<td style="vertical-align:middle;">x is y, here <b>is</b> results in 1 if id(x) equals id(y).</td>
</tr>
<tr>
<td class="ts">is not</td>
<td>Evaluates to false if the variables on either side of the operator point to the same object and true otherwise.</td>
<td style="vertical-align:middle;">x is not y, here <b>is not</b> results in 1 if id(x) is not equal to id(y).</td>
</tr>
</table>

In [36]:
# is example
a = 20
b = 20

if( a is b ):
   print("a and b have same identity")
else:
   print("a and b do not have same identity")

a and b have same identity

In [39]:
# is not example 
a = 20
b = 22

if ( a is not b ):
   print( "a and b do not have same identity")
else:
   print("a and b have same identity")

a and b do not have same identity

###### Logical Operators

In [ ]:
There are following logical operators supported by Python language

<table class="table table-bordered">
<tr>
<th style="text-align:center;width:10%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td>and Logical AND</td>
<td class="ts">If both the operands are true then condition becomes true.</td>
<td class="ts">(a and b) is true.</td>
</tr>
<tr>
<td>or Logical OR</td>
<td class="ts">If any of the two operands are non-zero then condition becomes true.</td>
<td class="ts">(a or b) is true.</td>
</tr>
<tr>
<td>not Logical NOT</td>
<td class="ts">Used to reverse the logical state of its operand.</td>
<td class="ts">Not(a and b) is false.</td>
</tr>
</table>

In [42]:
# and Logical AND
a=1
b=2
if a and b :
    print("Both variable have true value")
else:
     print("One of them is flase value")

Both variable have true value

In [43]:
# or Logical OR
a=1
b=0
if a or b :
    print("any one variable has true value")
else:
     print("none of them is flase value")

any one variable has true value

In [44]:
# not Logical NOT
a=1

if not a :
    print("a has false value")
else:
     print("a has true value")

a has true value

###### Operators Precedence

The following table lists all operators from highest precedence to lowest.

<table class="table table-bordered">
<tr>
<th style="text-align:center;">Sr.No.</th>
<th style="text-align:center;">Operator &amp; Description</th>
</tr>
<tr>
<td class="ts">1</td>
<td><p><b>**</b></p>
<p>Exponentiation (raise to the power)</p></td>
</tr>
<tr>
<td class="ts">2</td>
<td><p><b>~ + -</b></p>
<p>Complement, unary plus and minus (method names for the last two are +@ and -@)</p></td>
</tr>
<tr>
<td class="ts">3</td>
<td><p><b>* / % //</b></p>
<p>Multiply, divide, modulo and floor division</p></td>
</tr>
<tr>
<td class="ts">4</td>
<td><p><b>+ -</b></p>
<p>Addition and subtraction</p></td>
</tr>
<tr>
<td class="ts">5</td>
<td><p><b>&gt;&gt; &lt;&lt;</b></p>
<p>Right and left bitwise shift</p></td>
</tr>
<tr>
<td class="ts">6</td>
<td><p><b>&amp;</b></p>
<p>Bitwise 'AND'</p></td>
</tr>
<tr>
<td class="ts">7</td>
<td><p><b>^ |</b></p>
<p>Bitwise exclusive `OR' and regular `OR'</p></td>
</tr>
<tr>
<td class="ts">8</td>
<td><p><b>&lt;= &lt; &gt; &gt;=</b></p>
<p>Comparison operators</p></td>
</tr>
<tr>
<td class="ts">9</td>
<td><p><b>&lt;&gt; == !=</b></p>
<p>Equality operators</p></td>
</tr>
<tr>
<td class="ts">10</td>
<td><p><b>= %= /= //= -= += *= **=</b></p>
<p>Assignment operators</p></td>
</tr>
<tr>
<td class="ts">11</td>
<td><p><b>is is not</b></p>
<p>Identity operators</p></td>
</tr>
<tr>
<td class="ts">12</td>
<td><p><b>in not in</p></b>
<p>Membership operators</p></td>
</tr>
<tr>
<td class="ts">13</td>
<td><p><b>not or and</b></p>
<p>Logical operators</p></td>
</tr>
</table>